body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}
#main-header{
    background-image: url(images/donation4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-content{
    padding: 100px 100px;
    text-align: center;
    color: #fff;
    width: 60%;
}
.header-content h1 {
    font-size: 80px;
    font-weight: 900;
}
.header-content p{
    font-size: 30px;
    margin-bottom: 80px;
    font-weight: 500;
    line-height: 35px;
}
.donate-btn{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    background-color:#FF5958;
    padding: 20px 25px;
    border-radius: 7px;
    font-weight: 600;
}

#donate-today{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.donate-today-content{
    text-align: center;
    width: 60%;
}
.donate-today-content h1 {
    font-size: 70px;
    font-weight: 700;
}
.donate-today-content p{
    font-size: 25px;
    margin-bottom: 60px;
    font-weight: 500;
    line-height: 35px;
}
.amount-selection{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.amount-selection li{
    list-style: none;
    padding:50px 20px;
    background-color: #eee;
    margin-right: 30px;
    font-weight: 700;
    font-size: 40px;
    width: 150px;
    border-radius: 7px;
    color: #6F6F6F;
}
.active-amount{
    background-color: #FFEDED !important;
    border: 3px solid #FF5958;
    color: #FF5958 !important;  
}
input[type="text"]{
    border: none;
    border-bottom: 2px solid #ccc;
    text-align: center;
    font-size: 30px;
    width: 100%;
    margin: 50px 50px;
    padding: 15px 0;
    outline: none;
    margin-left: -2px;
}
#donate-plan{
    text-align: center;
    margin-top: 300px;
}
.donate-plan-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 70%;
    text-align: left;
    padding: 20px 20px;
}
#donate-plan h1{
    font-size: 70px;
    font-weight: 700;
}
#donate-plan p{
    font-size: 25px;
    margin-bottom: 100px !important;
    font-weight: 500;
    line-height: 35px;
    width: 60%;
    margin: 0 auto;
}
.donate-plan-content img{
    height: 80px;
    width: 80px;
    margin-top: 20px;
}
.donate-plan-content h3{
    font-size: 30px;
    font-weight: 700;
}
#donate-plan .donate-plan-content p{
    font-size: 20px !important;
    font-weight: 500;
    width: 100%;
}
.donate-plan-content .plan-item-1{
    background-color: #ECF4F5;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 20px;
    height: 500px;
    width: 33%;
}
.donate-plan-content .plan-item-2{
    background-color: #FFEDED;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 20px;
    height: 500px;
    width: 33%;
}
.donate-plan-content .plan-item-3{
    background-color: #FEF3D6;
    padding: 10px 20px;
    border-radius: 5px;
    height: 500px;
    width: 33%;
}
#help{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 200px;
}
.help-left{
    text-align: left;
    width: 50%;
    padding-right: 50px;
}
.help-left h1 {
    font-size: 50px;
    font-weight: 700;
}
.help-left p{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 50px;
}
.help-left a{
    padding: 10px 20px;
    font-size: 18px;
    margin-right: 20px;
    font-weight: 500;
}
.help-left .volunteer-btn{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    background-color:#0B3E03;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 7px;
    font-weight: 500;
}
.help-right img{
    height: 100%;
    box-shadow: 2px 2px 20px #000;
}
#who-are-help{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    text-align: center;
    padding: 50px 0;
    margin-top: 150px;
}
.who-are-help-content{
    width: 70%;
    margin: 0 auto;
}
.who-are-help-content p{
    font-size: 50px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 100px;
}
.feature-btn{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 15px 20px;
    background-color: #FF5958;
    border-radius: 5px;
    margin-right: 10px;
}
.contact-btn{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 15px 20px;
    border:2px solid #FF5958;
    border-radius: 5px;
    margin-right: 10px;
}
